@font-face {
    font-family: Feeling Passionate;
    src: url(fonts/Feeling\ Passionate.otf);
}


*{
    margin: 0px;
}
/** navbar **/

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #540B0E;
    border-radius: 10px;
    margin-left: 0.5vw;
    margin-top: 4vh;
    height: fit-content;
    padding: 0.5vh;
    gap: 0.3em;
}

.navbar img {
    height: 50px;
    width: 50px;
    border-radius: 70px;
}

.navbar a {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    margin-bottom: 1vh;
}

.sidebar-links:hover {
    box-shadow: #E09F3E 1px 1px 20px;
    transition: .5s;
}

#home{background-image: url(images/home.svg); background-size: 80%; background-position: center;}
#studybg{background-image: url(images/study.svg); background-size: 80%; background-position: center;}
#quali{background-image: url(images/quali.svg); background-size: 80%; background-position: center;}
#quanti{background-image: url(images/quanti.svg);background-size: 80%; background-position: center;}
#conclusion{background-image: url(images/conclusion.svg); background-size: 80%; background-position: center;}
#references{background-image: url(images/reference.svg); background-size: 80%; background-position: center;}
#abtmendteam{background-image: url(images/researchers.svg); background-size: 80%; background-position: center;}

#yt {background-image: url(images/youtube.svg);}
#fb {background-image: url(images/facebook.svg);}
#github {background-image: url(images/github.svg);}

/** grain texture for all **/
.grain {
    background-image: url(images/comictext.jpg);
    background-size: 100%;
}

/** alignment applied to all pages **/
.rightside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 19vw;
}

.copyright {
    text-align: right;
}

/** home page **/

.fullscreen1 {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    background-color: #F3D8C7;
    opacity: .98;
    background-image: url(images/homeaura.png);
    background-size: 90%;
    height: 100vh;
}

.title1 {
    background-color: #9E2A2B;
    float: right;
    height: fit-content;
    margin-top: 5vh;
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    padding: 1vw;
}
.title1 h1 {
    font-family: Feeling Passionate;
    color: white;
}

.centerside1 {
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.heading {
    float: left;
    font-size: 40px;
    margin-right: 48vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-family: 'Times New Roman', Times, serif;
}

/** studybg **/
.fullscreen2{
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    height: 100vh;
    background-color: #9E2A2B;
    opacity: .98;
    background-image: url(images/studybgaura.png);
    background-size: 100%;
}

.title2 {
    float: right;
    height: fit-content;
    margin-top: 5vh;
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    padding: 1vw;
    background-color: #E07A5F;
}

.title2 h1 {
    font-family: Feeling Passionate;
    color: white;
}

.centerside2 {
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 10vw;
    margin-top: 20vh;
    float: left;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

/* fullscreen 4 page 3 and 4 */
.fullscreen3n4 {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    height: 100vh;
    background-color: #b2967d;
    opacity: .98;
    background-image: url(images/dataaura.png);
    background-size: 100%;
}

/* quali n quanti table */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 14pt;
    font-weight: 500;
}

/** quali **/
.title3 {
    float: right;
    height: fit-content;
    margin-top: 5vh;
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    padding: 1vw;
    background-color: #F3D8C7;
}

.title3 h1 {
    font-family: Feeling Passionate;
    color: black;
}

.gender span {font-size: 20pt;}

.row1 {
    display: flex;
    flex-direction: column;
}

.productcateg span {font-size: 20pt;}

.row2 {
    display: flex;
    flex-direction: column;
}

.qualiparent {
    display: flex;
    justify-content: space-between;
    flex: 5;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 25vh;
    margin-left: 5vw;
}

/** quanti **/

.title4 {
    float: right;
    height: fit-content;
    margin-top: 5vh;
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    padding: 1vw;
    background-color: #F3D8C7;
}

.title4 h1 {
    font-family: Feeling Passionate;
    color: black;
}

.quantiparent {
    display: flex;
    justify-content: space-between;
    flex: 5;
    margin-top: 25vh;
    margin-left: 5vw;
    font-family: 'Times New Roman', Times, serif;
}

/** Conclusion **/
.fullscreen5 {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    height: 100vh;
    background-color: #718355;
    opacity: .98;
}

.title5 {
    float: right;
    height: fit-content;
    margin-top: 5vh;
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    padding: 1vw;
    background-color: #E09F3E;
}

.title5 h1 {
    font-family: Feeling Passionate;
    color: white;
}

.centerside5 {
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 10vw;
    margin-top: 20vh;
    float: left;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

/** References **/
.fullscreen6 {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    height: 100vh;
    background-color: #E09F3E;
    opacity: .98;
}

.title6 {
    float: right;
    height: fit-content;
    margin-top: 5vh;
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    padding: 1vw;
    background-color: #540B0E;
}

.title6 h1 {
    font-family: Feeling Passionate;
    color: white;
}

.centerside6 {
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 10vw;
    margin-top: 20vh;
    float: left;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

/** abt me nd team **/
.fullscreen7 {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    height: 100vh;
    background-color: #E07A5F;
    opacity: .98;
}

.title7 {
    float: right;
    height: fit-content;
    margin-top: 5vh;
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    padding: 1vw;
    background-color: #540B0E;
}

.title7 h1 {
    font-family: Feeling Passionate;
    color: white;
}

.centerside7 {
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 30vw;
    margin-top: 20vh;
    float: left;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}